<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andrei.meetyouupv11">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginAndForgotPassword.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Dashboard.DashboardActivity" />
        <activity android:name=".LoginAndForgotPassword.ForgotPasswordActivity" />
        <activity android:name=".Register.RegisterActivity" />
        <activity android:name=".Register.SetUpProfileActivity" />
        <activity android:name=".Dashboard.EditProfileActivity" />
        <activity android:name=".Group.GroupActivity" />
        <activity android:name=".Group.CreateGroupActivity" />
        <activity android:name=".Group.AddPeopleToGroupActivity" />
        <activity android:name=".Event.EventsToAttendActivity" />
        <activity android:name=".Event.YourEventsActivity"></activity>
    </application>

</manifest>